/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #bb0808d3;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
  width:100%;
  margin-bottom: 100px;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: white;
  text-align: center;
}

.product img {
  width: 100%;
  max-width: 200px;
}

button {
  background-color: #3846db90;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #edf331;
}
